

th{
  font-size: 20px;
}

td{
  font-size: 16px;
  padding: 8px;
  
}


.box{
  border: 1px solid #505050;
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 15px;
}


#flex{
  display:flex;

}

